[2019-03-10 00:53] CarlMeadows opened #2 "Tableau - SQL JDBC support"
Add support for Tableau to the SQL JDBC driver.

[2019-03-21 08:05] snuids opened #3 "Select using multi indexes"
Hi,

I am using the driver with jasper report and it works like a charm. However, I cannot make queries such as:

select * from logtstash*

This query is working using the open distro plugin via the Rest API.

Am I missing something ?

Thanks,

[2019-03-21 16:38] dai-chen commented on #3
Hi, this is related to https://github.com/opendistro-for-elasticsearch/sql/issues/9. We've root caused and will be fixing it.

[2019-03-21 16:39] snuids commented on #3
Great Thx !

[2019-03-22 09:29] vinjosh commented on #3
Duplicate of https://github.com/opendistro-for-elasticsearch/sql/issues/9

[2019-03-25 19:23] dai-chen commented on #3
Fixed and merged.

[2019-03-25 19:23] #3 closed, assigned to nobody

[2019-03-26 18:14] qreshi opened #4 "ES 6.6.2 Compatibility"
Build and test against ES 6.6.2 to fix any compatibility issues.

[2019-03-26 22:29] #4 closed, assigned to qreshi

[2019-04-01 13:11] epical-mi opened #6 "SQuirrel and JDBC driver SQL date format"
Trying to select date fields from ES using JDBC driver and SQuirrel returns errors to the execution logs.  All the date fields are seen as `<Error>` within the result set.

The select I'm trying to execute is:
`select * from kibana_sample_data_logs;`

SQuirrel logs:

java.sql.SQLDataException: Can not parse 2019-04-13 12:58:48.352Z as a Timestamp
	at com.amazon.opendistroforelasticsearch.jdbc.type

[2019-04-01 19:32] qreshi commented on #6
Thanks for reporting this issue. We're looking into it. Also, just to confirm, could you post a sample of the date fields from ```kibana_sample_data_logs```?

[2019-04-02 06:27] epical-mi commented on #6
Here is the sample of the date fields data.

[code]

[2019-04-02 10:23] epical-mi commented on #6
Our own fix for this issue was this patch. Works now ok with SQuirrel and SQLWorkbenchJ
[code]

[2019-04-03 05:30] epical-mi commented on #2
Just tested the JDBC driver against Tableau. During its connection testing process, Tableau seems to try to create a temporary table to test some SQL capabilities of the JDBC driver/DB and then drops the table. I can see these error messages from ES logs. As these features are not supported, the connection fails.

[code]

[2019-05-03 13:46] tbrugz commented on #6
I have a similar issue with timestamps in the following format:

`2019-05-02T20:42:39.429+00:00`

with a query like `SELECT * FROM security-auditlog-2019.05.02`

I may have a fix and will send a pull request

[2019-05-16 21:40] #6 closed, assigned to nobody

[2019-05-29 20:11] tbrugz opened #11 "DatabaseMetaData.getColumns(null, null, tableNamePattern, null) returns no columns"
I'm running opendistro docker image as indicated in <https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/>

After initializing the container, the only table avaiable seems to be `security-auditlog-<yyyy.MM.dd>`

If I try to query for avaiable columns with `DatabaseMetaData.getColumns(null, null, tableNamePattern, "%")` it returns the table's columns as expected, but if I try to

[2019-06-07 00:34] jngz-es opened #14 "select date_format error"
The query "SELECT date_format(mydate, 'yyyy-mm-dd') AS date, COUNT(*) AS count, SUM('aaa') AS sum FROM table GROUP BY date_format(mydate, 'yyyy-mm-dd')" got error w/ JDBC, but works w/o JDBC.

The error, com.amazon.opendistroforelasticsearch.jdbc.protocol.exceptions.InternalServerErrorException.

[2019-06-13 03:34] penghuiy opened #15 "Can support nested type?"
[code]

[code]

I want to get the all  elements of array.  like
[code]

[2019-06-21 23:08] arsen-es opened #17 "elasticsearch 7.1.1 compatibility"
A ticket to track 1.1.0 release.

[2019-06-24 18:15] #17 closed, assigned to arsen-es

[2019-06-24 18:15] arsen-es commented on #17
no code changes were required for ES 7.1 support.

[2019-06-24 20:13] dai-chen commented on #15
Thanks for reporting the issue. I'm looking into this.

[2019-06-27 00:29] dai-chen commented on #15
In your example, the query and result is expected to be like:

[code]

[2019-06-27 02:36] penghuiy commented on #15
Ok, it works fine. Thank you. And I expect a simpler query like my example , because we want to privide it  to thirdparty

[2019-06-27 22:09] dai-chen commented on #15
I'm fixing this in PR: https://github.com/opendistro-for-elasticsearch/sql/pull/98. This kind of nested field query works in most cases. But the meaning of SELECT * was not clear. Will merge to master after approved.

Btw, we'd like to follow the syntax in my example because it is standard. Please refer to https://ci.apache.org/projects/asterixdb/sqlpp/manual.html#Unnest_clauses. Comma join here i

[2019-07-08 08:22] penghuiy opened #19 "should setReadonly method throw Exception？"
I use Sharding-proxy(use HikariPool), But I have no way to explicitly specify database isReadOnly,at least for now, resulting in a SQLNonTransientException ("read-only mode can not be disabled."), causing the connection to fail. I noticed that other similar jdbc drives the setReadOnly method are not will throw exception, such as

sql-server(https://github.com/microsoft/mssql-jdbc/blob/dev/src/main

[2019-07-08 16:57] dai-chen commented on #19
Thanks for reporting! The exception thrown seems by design: https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/625614647c5110daa4e524143d55ecabb8e50794/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/ConnectionImpl.java#L200

JDBC spec says: "Puts this connection in read-only mode as a hint to the driver to enable database optimizations." I feel this is not applicable in driver

[2019-07-09 02:57] penghuiy commented on #19
I want to provide multiple users with an interface that can perform sql queries(mysql-proxy), and route queries to different indexes or database tables according to the userid.
 Sharding-proxy datasource uses hikari pool, I have found a discussion about the hikari pool how to setReadOnly(https://github.com/brettwooldridge/HikariCP/issues/1116). if don't explicitly specify isReadOnly, default it wi

[2019-07-09 18:15] dai-chen commented on #19
Thanks for the information! Need to investigate if any action could be taken when `setReadOnly` invoked? If not, probably simply removing the exception thrown in our code would be the proper way to fix the issue.

[2019-07-10 06:40] penghuiy commented on #19
I have created an issue for Sharding-proxy，and received feedback. Maybe, it’s more reasonable to explicitly specify a  datasource readonly. I will wait few days

[2019-07-10 17:04] dai-chen commented on #19
Thanks for letting us know! Will evaluate it from our end too.

[2019-07-12 17:17] galkk commented on #14
After referenced PR the query doesn't fails anymore

[code]
but has suspicious column in the result.

[2019-07-12 17:26] galkk commented on #14
This is SQL plugin issue, not JDBC. It will be worket here:
[sql-111](https://github.com/opendistro-for-elasticsearch/sql/issues/111)

[2019-07-12 17:26] #14 closed, assigned to galkk

[2019-07-12 17:55] dai-chen commented on #15
https://github.com/opendistro-for-elasticsearch/sql/pull/98#issuecomment-510974475

@penghuiy I'm ready to merge. Please reference to the test query in the comment above. Thanks!

[2019-07-12 18:21] #15 closed, assigned to dai-chen

[2019-07-15 16:49] #11 closed, assigned to nobody

[2019-07-18 18:59] dai-chen commented on #19
@penghuiy Any response from Sharding-proxy team? It's easy to fix by removing the throw exception code from our end. But I feel it may not be the right way. Because I assume the caller expects something to happen after invoking `setReadOnly()`.

So I think either avoid calling `setReadOnly` or add behavior for it accordingly in our driver rather than disregard it may be more proper way to fix the

[2019-07-19 12:05] penghuiy commented on #19
Right，I agree with you. the PR is awaiting review，I believe that there will be results soon.

[2019-07-19 16:46] dai-chen commented on #19
Thanks! Please keep us updated.

[2019-07-22 07:45] penghuiy commented on #19
@dai-chen The PR has been merged, Thank you for your advice and help.

[2019-07-22 07:47] #19 closed, assigned to nobody

[2019-07-22 20:34] dai-chen commented on #19
You're welcome! Thanks for the update!

[2019-07-31 21:44] arsen-es opened #20 "0.10.0 version release for ES 6.8.1 compatibility"

[2019-08-02 17:22] #20 closed, assigned to arsen-es

[2019-08-14 10:18] jianhong2014 opened #23 "using jdbc, some sql functions seem not work normally"
e.g. date_format works normally using postman, but doesn't work in java env

[2019-08-14 16:54] dai-chen commented on #23
Hey @jianhong2014 , could you provide more information so we can duplicate the issue? Such as your env, data and query etc.

[2019-08-15 07:00] jianhong2014 commented on #23
![image](https://user-images.githubusercontent.com/6869413/63078228-6fd3c200-bf6d-11e9-8ff4-5431320a086c.png)

[2019-08-15 07:02] jianhong2014 commented on #23
![image](https://user-images.githubusercontent.com/6869413/63078292-a1e52400-bf6d-11e9-98b3-8d2e0bb93a96.png)

[2019-08-15 07:05] jianhong2014 commented on #23
![image](https://user-images.githubusercontent.com/6869413/63078438-0dc78c80-bf6e-11e9-9b6f-dfd39c092073.png)

[2019-08-16 17:04] dai-chen commented on #23
Thanks for the update! Will look into the issue and request more information if needed.

[2019-08-20 02:20] jianhong2014 commented on #23
any update? if possible，we can talk directly

[2019-08-20 17:31] galkk commented on #23
Hello @jianhong2014

Thanks for the feedback. Could you clarify couple of quiestions

1. Which version of the driver you are using?
2. Could you show the ouput of your query from Kibana, using this as an example

[code]

[2019-08-28 14:20] luhhujbb commented on #2
We have the same issue when we try the presto jdbc driver. Maybe a read-only option for jdbc could solve this.

[2019-09-10 20:28] #23 closed, assigned to galkk

[2019-10-01 13:25] k-sea opened #25 "Can not parse 2019-10-01 01:24:16.191Z as a Timestamp"
Hi, I'm running into issues with timestamps in our elasticSearch, the JDBC driver is returning the following.

Can not parse 2019-10-01 01:24:16.191Z as a Timestamp

this is when I include one of our timestamp fields in the select columns.

I'm looking at your jdbc/types/TimestampType.java routine and I think it's off by 1 char, thinking this should be looking at Z as the 24th char not 23rd but it

[2019-10-01 17:38] penghuo commented on #25
@k-sea Thanks for reporting the issue.
I am trying to understand your issue. I add the UT in TimestampTypeTests and it passed.
[code]

[2019-10-16 00:07] davidcui1225 opened #26 "Elasticsearch 7.2.1 Compatibility"
Tracking 1.2.1 release

[2019-10-18 22:44] #26 closed, assigned to nobody

[2019-10-22 20:50] Jianfei-Li opened #28 "Support zero or negative values for float type"
Because of [this line](https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/625614647c5110daa4e524143d55ecabb8e50794/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/FloatType.java#L55), the driver can not parse zero or negative values for float type.

[2019-10-22 21:00] dai-chen commented on #25
@k-sea Please let us know if you still have the issue. Or we will be closing it later.

[2019-10-28 15:41] #25 closed, assigned to nobody

[2019-10-28 20:16] #28 closed, assigned to nobody

[2019-10-31 17:11] chloe-zh opened #30 "Elasticsearch 7.3.2 Compatibility"
For opendistro v1.3 release

[2019-12-02 09:09] ltylty opened #34 "can this support Elastic elasticsearch?"
can this support Elastic elasticsearch?

[2019-12-02 18:06] dai-chen commented on #34
Hi @ltylty, yes, it should work. You need to install our SQL plugin to your Elasticsearch. You can try it out and let me know if any issue.

[2019-12-02 18:07] #30 closed, assigned to chloe-zh

[2019-12-03 01:51] ltylty commented on #34
Thank you。 I will try it。

[2019-12-05 07:32] dai-chen commented on #34
You're welcome! This may be helpful: https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/#sql

[2019-12-06 01:00] #34 closed, assigned to nobody

[2019-12-06 21:27] rupal-bq opened #35 "Add documentation for connecting Tableau with Open Distro for Elasticsearch using JDBC Driver"
Documentation should include:

- Setup

- Connection

- Use

[2019-12-06 23:51] rupal-bq commented on #35
Added documentation.
https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/master/docs/tableau.md

[2019-12-06 23:51] #35 closed, assigned to nobody

[2019-12-07 00:13] rupal-bq commented on #2
You can add `<customization name='CAP_CREATE_TEMP_TABLES' value='no'/>` in .tdc file to avoid creating temporary tables.
For more information check [Connecting Tableau with Open Distro for Elasticsearch](https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/master/docs/tableau.md).

[2019-12-19 14:31] pasali opened #41 "Support for array data type"
Elasticsearch doesn't have dedicated array datatype. First value in the array determines the field type. So if i have field that contains array of long values, the field type will be long.  I am getting below exception when i try to display an array type field.

[code]

[2019-12-19 18:37] dai-chen commented on #41
@pasali Thanks for reporting the issue! Could you also post your index mapping and part of the data for us to reproduce the issue?

[2019-12-20 05:35] pasali commented on #41
@dai-chen Here is my mapping and data sample:

[code]

[code]

[2019-12-20 19:39] dai-chen commented on #41
Thanks! Will look into it.

[2019-12-20 19:57] dai-chen commented on #41
@pasali Thanks for the info! I've reproduced the issue. Currently our plugin returns the type of element instead of array and no support from the JDBC driver. So this issue requires changes from both driver and plugin:

 1. Plugin: add array type in response. Opening separate issue https://github.com/opendistro-for-elasticsearch/sql/issues/326 for tracking.
 2. Driver: parse it to `java.sql.Array`

[2019-12-25 12:50] a2393439531 opened #42 "cannot support nested select query"
tatementCallback; uncategorized SQLException for SQL [**SELECT
 n1
 ,
 sum(totalcount) AS 'sum(totalcount)'
 FROM (select receivedfrom.keyword as n1 ,sum(testcount) as totalcount from letters group by receivedfrom order by totalcount DESC) T
 GROUP BY n1**
 ]; SQL state [null]; error code [0]; Error executing query; nested exception is java.sql.SQLException: Error executing query

[2019-12-30 23:55] dai-chen commented on #42
@a2393439531 Thanks for reporting! We've added support for subquery in `FROM` clause in https://github.com/opendistro-for-elasticsearch/sql/issues/230 and https://github.com/opendistro-for-elasticsearch/sql/pull/278. Unfortunately I don't think we can support query as complex as yours.

@penghuo please help confirm.

[2019-12-30 23:57] dai-chen opened #43 "JDBC driver returns Elasticsearch type name in ResultSet meta data"
For some reason, JDBC driver returns `KEYWORD` type rather than standard `VARCHAR` or `NVARCHAR`. I checked that there is no keyword type in the spec: https://docs.oracle.com/javase/8/docs/api/java/sql/Types.html. I don't remember if we do this on purpose or not.

[2019-12-31 06:01] penghuo commented on #42
@a2393439531 our current solution doesn't support this type of subquery.

[2020-01-08 01:09] dai-chen commented on #43
This seems a bug because `ResultSetMetaDataImpl.getColumnType()` returns JDBC type: https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/625614647c5110daa4e524143d55ecabb8e50794/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/ResultSetMetaDataImpl.java#L127

But `getColumnTypeName()` returns Elastissearch type name: https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/62

[2020-01-09 23:56] abbashus opened #44 "Elasticsearch type `object` missing when retrieving type info."
Missing Elasticsearch type `object` in `DatabaseMetaData.getTypeInfo()` call.

Fix needs to be applied [here](https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/5593746b364a8aad26f2224e58e75502ec1c0d5e/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/ElasticsearchType.java#L47).

[2020-01-09 23:58] abbashus commented on #44
[Output from SQL plugin](https://github.com/opendistro-for-elasticsearch/sql/issues/336) needs to be fixed as well.

[2020-01-10 01:34] dai-chen opened #46 "JDBC Real type is returned for float number"
Currently our JDBC driver is returning Real type in JDBC spec for float which seems different from other databases. This failed many tests in our comparison test. Need to investigate what's the difference and if we should change it to float.

Reference: https://docs.microsoft.com/en-us/sql/connect/jdbc/understanding-data-type-differences?view=sql-server-ver15#approximate-numeric-types

[2020-01-10 20:06] #43 closed, assigned to dai-chen

[2020-01-15 22:45] ravipalaparthi opened #48 "Need help in identifying elasticsearch schema name while testing with the tableau desktop"
Hello team,

I followed the instructions that are available in https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/master/docs/tableau.md

I am able to connect but after selecting the database "elasticsearch". It is asking me to select or enter the schema name which I could not understand. Can you please let me know what should be the schema name for ES indexes.

![image](https://user-im

[2020-01-16 02:04] dai-chen commented on #48
@abbashus have you met this problem before?

[2020-01-16 02:10] abbashus commented on #48
I have not encountered this issue before. This is the first time I am seeing this option to select Database and Schema; it should automatically list out all the tables.

@ravipalaparthi What Tableau Desktop version you are using? What is the ES version and OpenDistro SQL-JDBC version are you using?

[2020-01-16 04:59] ravipalaparthi commented on #48
I am using the following versions:

- Tableau Desktop version 2018.3.13 (Windows 64 bit version)
- ES 6.6.2
- OpenDistro SQL JDBC opendistro-sql-jdbc-1.3.0.0.jar

[2020-01-16 18:37] abbashus commented on #48
I used the following config

- Tableau Desktop version 2019.3.2 (MacOS version)
-  ES 7.4.2
- OpenDistro SQL JDBC opendistro-sql-jdbc-1.3.0.0.jar (downloaded from [here](https://opendistro.github.io/for-elasticsearch/downloads.html))

It automagically lists out all the tables for me.

<img width="752" alt="Screen Shot 2020-01-16 at 10 21 17 AM" src="https://user-images.githubusercontent.com/467260

[2020-01-16 20:08] ravipalaparthi commented on #48
@abbashus trying with the suggested versions. will update you shortly.

[2020-01-16 20:40] ravipalaparthi commented on #48
@abbashus As you said, installed

- Tableau Desktop version 2019.3.2 (Windows version)
- ES 7.4.2
- OpenDistro SQL JDBC opendistro-sql-jdbc-1.3.0.0.jar (downloaded from the suggested link)

This time it's failing to connect. Please find the jdbcserver.log
[jdbcserver.log](https://github.com/opendistro-for-elasticsearch/sql-jdbc/files/4073649/jdbcserver.log)

For reference, Attached elasticsearch.t

[2020-01-16 23:46] abbashus commented on #48
Hi @ravipalaparthi , if you have access to `elasticsearch.log` , you can see what SQL queries are being fired from Tableau. Can you share that as well? Need to reproduce from our end.

Can you also provide Index mappings for the indices in your cluster.

[code]

[2020-01-20 19:32] ravipalaparthi commented on #48
Hi @abbashus Sorry for the delayed response. I just created a simple index with the below mapping and data

![image](https://user-images.githubusercontent.com/33325116/72754874-0056a400-3b97-11ea-9d61-acc399d25ae2.png)

**PUT /my-index**
{
  "mappings": {
    "properties": {
      "age":    { "type": "integer" },
      "email":  { "type": "keyword"  },
      "name":   { "type": "text"  }
    }
  }

[2020-01-21 22:13] ravipalaparthi commented on #48
Hello @abbashus it will be great if you can help us in addressing this issue.

[2020-01-22 00:42] abbashus commented on #48
@ravipalaparthi  I checked your `elasticsearch.log` , it does not have `opendistro_sql` plugin installed.  The `opendistro-sql-jdbc` driver is compatible with `opendistro_sql` plugin . Instead it has got other proprietary plugins starting with `x-`.   You can either build it [locally](https://github.com/opendistro-for-elasticsearch/sql/blob/master/docs/developing.rst) or get it pre-packaged with d

[2020-01-22 17:42] ravipalaparthi commented on #48
Hi @abbashus As suggested I have downloaded [odfe-1.3.0.zip](https://opendistro.github.io/for-elasticsearch-docs/docs/install/windows/), disabled HTPPS with **opendistro_security.ssl.http.enabled:false**, created "my-index" with mapping and sample data by login with **admin/admin** and tried to access the tables from the Tableau desktop **but it's still asking me to select the schema.**

More conf

[2020-01-27 17:49] davidcui1225 opened #50 "OD 1.4.0 Release"

[2020-01-27 20:48] ravipalaparthi commented on #48
Hi @abbashus @dai-chen and OpenDistroTeam,  we are stuck with the above issue and looking for some inputs which can help us to resolve the schema selection.

[2020-01-27 21:12] abbashus commented on #48
Hi @ravipalaparthi, please PM me on my [public email ID](https://github.com/abbashus) to help you out offline. It's working correctly on our end. May be some Tableau version issue, or Windows issue.

[2020-01-27 22:50] abbashus opened #52 "[Ignore] This issue was created in error from YubiKey"

[2020-01-27 22:52] #52 closed, assigned to nobody

[2020-01-28 20:15] abbashus commented on #48
I see Tableau is firing below query resulting in connection error

[code]
 which implies either`.tdc` file is not being picked up or is not configured properly.

[2020-01-28 20:32] jordanw-bq commented on #48
Hi @ravipalaparthi,

https://github.com/opendistro-for-elasticsearch/sql-jdbc/issues/48#issuecomment-577302621
In this comment at step 6, I noticed that you placed the TDC file under `Documents\My Tableau Repository\Datasources\<version>`. Can you move the file up to the parent folder and see if that helps? (`Documents\My Tableau Repository\Datasources` instead)

[2020-01-28 23:15] ravipalaparthi commented on #48
Hi @abbashus, @jordanw-bq

As suggested, I moved the .tdc file back to C:\Users\<<USER>>\Documents\My Tableau Repository\Datasources and tried to access the ES from the Tableau desktop. This time, It did not through any errors (like CREATE TABLE .....) in ES log but after selecting the Database "elasticsearch" it's still looking schema details.

![image](https://user-images.githubusercontent.com/3

[2020-01-30 19:58] jordanw-bq commented on #48
@ravipalaparthi Can you share the contents of your TDC file with us, so that we can confirm that the correct customizations are being set?

[2020-01-31 09:53] ghost commented on #48
Hi @ravipalaparthi,  I have noticed in one comment that you have saved customization file as “elasticsearch.tdc.txt”. Try renaming it to “elasticsearch.tdc”.

[2020-01-31 15:39] ravipalaparthi commented on #48
@jordanw-bq  Please find the attached TDC file.

[elasticsearch.zip](https://github.com/opendistro-for-elasticsearch/sql-jdbc/files/4140154/elasticsearch.zip)

@rupalmahajan yeah, I am using *.tdc only. To attach this file, I renamed it to elasticsearch.tdc.txt

[2020-01-31 18:12] lyndonbauto commented on #48
@ravipalaparthi Could you please do the following:

1. Go to ( User )\Documents\My Tableau Repository\Logs (with Tableau closed)
2. Delete the existing logs
3. Open Tableau and connect with the JDBC driver to get to the point where the schema pops up
4. Open ( User )\Documents\My Tableau Repository\Logs\log.txt and post it here

We can review the log and look for issues there.

Thank you

[2020-02-08 02:40] ravipalaparthi commented on #48
Hi @lyndonb-bq, I apologize for the late response. I came to the client's place, little busy with other stuff and could not find a chance to look at these updates. I will provide an update by the end of Monday.

[2020-02-13 20:04] ravipalaparthi commented on #48
Hi @abbashus @dai-chen @jordanw-bq @rupalmahajan I just tried to connect the Opendistro ES from my tableau desktop and **surprisingly it's working!!!**

**Thanks for all your support and help !!!**

**For future reference, I am just reposting my configuration details -**
**_Other Databases (JDBC)_**
![image](https://user-images.githubusercontent.com/33325116/74473441-9c5f8c80-4e71-11ea-9f74-9cfa14

[2020-02-13 20:11] abbashus commented on #48
@ravipalaparthi  Glad it worked out! Though it **surprisingly worked**, but we would want to know the root cause. If you find one, keep us posted.

[2020-02-13 20:11] #48 closed, assigned to nobody

[2020-02-13 20:47] ravipalaparthi commented on #48
sure @abbashus Let me look at the opportunities to replicate the issue in one of my co-worker's work stations.

[2020-02-13 21:17] #50 closed, assigned to davidcui1225

[2020-02-20 04:23] ningpengtao-coder opened #54 "Post submission only supports iso-8859-1 encoding"
ApacheHttpTransport line 263 HttpPost.setEntity when creating a StringEntity without specifying the encoding, ISO-8859-1 is used by default and no encoding can be set such as UTF-8.

I am using version 1.4.0.0

1.4.0.0：

ApacheHttpTransport:
`request.setEntity(new StringEntity(body));`

StringEntity:
[code]

ContentType:
`public static final ContentType DEFAULT_TEXT = TEXT_PLAIN;`
`public static f

[2020-02-20 18:34] dai-chen commented on #54
@PengtaoNing Thanks for reporting the issue! Could you provide some sample data and use case where you met the problem in our JDBC driver?

[2020-03-01 04:25] ningpengtao-coder commented on #54
POST _bulk
{"create":{"_index":"sql_data","_id":1}}
{"name":"中文1"}
{"create":{"_index":"sql_data","_id":2}}
{"name":"中文2"}
{"create":{"_index":"sql_data","_id":3}}
{"name":"中文3"}
{"create":{"_index":"sql_data","_id":4}}
{"name":"中文4"}
{"create":{"_index":"sql_data","_id":5}}
{"name":"中文5"}

correct

kibana:
POST _opendistro/_sql
{
  "query": "SELECT * FROM sql_data where name = '中文1'"
}

correct

[2020-03-02 21:17] dai-chen commented on #54
@PengtaoNing Thanks for the info! Will try to reproduce from my side.

[2020-03-10 05:00] zhongnansu opened #55 "OD 1.6.0.0 release"
Prepare for OD 1.6.0.0 release

[2020-03-10 14:58] sandeep-veerlapati opened #57 "Failed to read index from Dbeaver"
I am using a Dbeaver to access Elasticsearch service on AWS.  I am facing an error while trying to access an index having around 100 fields.  Though I am able to query the index from the editor, I can't see the schema in the data explorer.
Please find below image for more details about the error.
![image](https://user-images.githubusercontent.com/37291294/76325722-a6a86580-630d-11ea-8b51-daabdb82c

[2020-03-10 16:42] penghuo commented on #57
Thanks for reporting the issue.
Is it possible to share the index mapping to help debug the issue.
My current guess is the type is missing from the [ElasticsearchType](https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/master/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/ElasticsearchType.java).

[2020-03-10 17:12] Jayu8 commented on #57
Attached the index mapping

[2020-03-10 22:06] penghuo commented on #57
The issues in because the SQL plugin return the field without type info when the field in Elasticsearch mapping is object type. User are not required to set the field type to object explicitly, as this is the default value.

* The mapping in Elasticsearch index which use implicit Object type.
[code]

Result of query `DESCRIBE TABLES LIKE kbs-datalake COLUMNS LIKE %`
[code]

[2020-03-10 22:19] penghuo commented on #57
One workaround is add the "type":"object" for the field explicitly

[2020-03-12 06:25] sunnyfun888 opened #60 "Can not parse 2020-03-23T09:28:48+00:00 as a Timestamp"
The format of Timestamp is different in our elasticSearch, which we got is like
2020-03-23T09:28:48+00:00

I changed the source code of jdbc/types/TimestampType.java
from

            // Timestamp.valueOf() does not like timezone information
            if (value.length() > 23) {
                if (value.length() == 24 && value.charAt(23) == 'Z') {
                    value = value.substring(0, 2

[2020-03-12 17:34] dai-chen commented on #60
@sunnyfun888 Thanks for reporting! Will look into the issue.

[2020-03-18 19:01] dai-chen opened #62 "Support execute() method for prepared statement"
https://github.com/opendistro-for-elasticsearch/sql-jdbc/pull/49#issue-367203460

[2020-03-19 15:32] #62 closed, assigned to nobody

[2020-03-22 20:35] mixja opened #63 "Result set concurrency incorrectly passed as result set holdability"
When attempting to get Apache Spark to work with this JDBC driver, I came across an issue where the following exception is raised in the driver:

[code]

In this line:

https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/625614647c5110daa4e524143d55ecabb8e50794/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/ConnectionImpl.java#L282

it appears that `resultSetConcurrency` is sup

[2020-03-22 23:12] anirudha commented on #63
Could you please send a pull request thank you. we would happily take a look and merge. Any test you will help a lot.

[2020-03-23 16:14] #57 closed, assigned to nobody

[2020-03-23 17:50] davide-malagoli opened #65 "JDBC Driver does not support disabling auto-commit?"
Hello,

I just looked at the code because I had a problem using your driver with TIBCO Jasper Server PRO, and I noticed that the problem was caused by an exception thrown when the program attemps to disable autocommit.

I was using [this guide](https://community.jaspersoft.com/wiki/connecting-jasperreports-server-your-database),the error is the following

![jdbc_error](https://user-images.githubus

[2020-03-23 18:25] abbashus commented on #65
Thanks for reporting. We will take a look.

[2020-03-23 18:27] abbashus commented on #65
Is it possible to provide any relevant logs generated from JDBC driver?

[2020-03-23 18:57] penghuo opened #66 "JDBC doesn't support chinese character"
From https://github.com/opendistro-for-elasticsearch/sql/issues/392

[2020-03-23 19:12] penghuo commented on #66
This issue is StringEntity not use utf-8 encoding.

[code]

https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/47f4b3e3eab46cfb1db818c30e7a037d30464fcd/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/transport/http/ApacheHttpTransport.java#L262

[2020-03-23 21:24] penghuo opened #67 "JDBC Integration Test"
Add the integration test for JDBC driver

[2020-03-23 21:30] penghuo commented on #54
The issue has been fixed with #68. Feel free to reopen it.

[2020-03-23 21:30] #54 closed, assigned to nobody

[2020-03-23 21:30] #66 closed, assigned to nobody

[2020-03-24 03:05] penghuo commented on #65
@davide-malagoli , does the topic in here help https://discuss.opendistrocommunity.dev/t/opendistro-sql-jdbc-driver/2265

Have u try to include the username and password?

[2020-03-25 03:26] #55 closed, assigned to zhongnansu

[2020-03-26 03:06] EveyWu opened #70 "JDBC TEST 400"
[code]

response:
[code]

![image](https://user-images.githubusercontent.com/59307607/77606210-d7191200-6f51-11ea-85fc-d5fd29d32252.png)

[2020-03-26 05:15] EveyWu commented on #70
ES 7.5.1

HttpResponseProxy{HTTP/1.1 400 Bad Request [Warning: 299 Elasticsearch-7.5.1-3ae9ac9a93c95bd0cdc054951cf95d88e1e18d96 "[types removal] Specifying types in document index requests is deprecated, use the typeless endpoints instead (/{index}/_doc/{id}, /{index}/_doc, or /{index}/_create/{id}).", content-type: application/json; charset=UTF-8, content-length: 365] ResponseEntityProxy{[Content

[2020-03-26 08:29] EveyWu commented on #70
have to install plugin of [sql](https://github.com/opendistro-for-elasticsearch/sql)

[2020-03-26 08:29] #70 closed, assigned to nobody

[2020-03-27 16:33] davide-malagoli commented on #65
No, it does not help.
I removed username and password from the screeshot for security reasons.
During the test they were set.
The only way I solved the problem was creating a JNDI datasource on the Tomcat side, enabling auto-commit, and let Jasper use that JNDI

[2020-04-15 02:26] kvkk opened #71 "Error retrieving data from opendistro from Tableau"
Hi,
I got opendistro-for-elasticsearch running locally on my laptop and loaded a simple table with four columns (id, latitude, longitude, shop_category) with shop_category being a text type field

Using tableau desktop and sql-jdbc driver, I was able to connect to the table and see the values in datasource view but when trying to create a worksheet with one of the columns, Tableau was throwing an

[2020-04-15 03:17] abbashus commented on #71
Similar error message as [Issue #401](https://github.com/opendistro-for-elasticsearch/sql/issues/401)

[2020-04-16 21:10] happycujo opened #73 "Support for Elastic Search Parameter in opendistro-for-elasticsearch / sql-jdbc"
Hi,

You guys have done a really great work with the JDBC connector!  It is working really great!

We would like to add to our SQL query some parameters that are specific to Elastic Search. Specifically, we would need to use the ignore_unavailable elastic parameter since we are requesting multiples indices that some may be missing.

As example, the following Elastic Search query should return with

[2020-04-16 21:38] dai-chen commented on #73
Hi @happycujo , probably you could try our query with index pattern. Reference: https://github.com/opendistro-for-elasticsearch/sql/blob/master/docs/user/dql/basics.rst#example-2-selecting-from-multiple-indices-by-index-pattern. For example in your case, `SELECT * FROM query-0*`.

[2020-04-17 12:11] happycujo commented on #73
Hello @dai-chen,

Thanks you very much for your time!  Your suggestion is a good idea, but it may not work for our use case.

We named our indices to separate data over time, such as data-hour-0 up to data-hours-24. A user will search between a specific time (for instance, from data-hour-3 to data-hour-12), but we do not want the search to fail if any index in between is not created (data-hour-6 f

[2020-04-17 17:14] abbashus opened #74 "Add cursor support via JDBC"
Cursor support for simple queries is now available.
https://github.com/opendistro-for-elasticsearch/sql/pull/390.

Add new functionality in JDBC driver to take advantage of cursor.

[2020-04-17 18:48] happycujo commented on #73
The code seems to indicate that **ignore_unavailable** is supported using a Hint mechanism in the SQL. However, I could not found documentation actually explaining how to use it.

https://github.com/opendistro-for-elasticsearch/sql/blob/master/src/main/java/com/amazon/opendistroforelasticsearch/sql/domain/hints/

[code]

[code]

[2020-04-17 19:49] happycujo commented on #73
According to this code, It seems that the hints are retrieved from SQL comment.

https://github.com/alibaba/druid/blob/master/src/main/java/com/alibaba/druid/sql/ast/SQLCommentHint.java

`public class SQLCommentHint extends SQLObjectImpl implements SQLHint {
`
I made a sample program to test this, but alas without success:

[code]
The program ended with an exception:

[code]

My interpretation is

[2020-04-17 20:45] dai-chen commented on #73
@happycujo Yeah, the hint comes from our old codebase. Because most are related to internal implementation, we didn't cover it in documentation. Let me check if it is still working. Thanks!

[2020-04-20 13:27] happycujo commented on #73
@dai-chen Great, let me know if can make  it work! We would love to use this feature, even if it came from dusty old code! ;)

[2020-04-20 17:34] dai-chen commented on #73
Hi @happycujo I just tried that hint. But unfortunately our code will try to fetch index metadata for verification before sending request with ignore_available option. In this case I think only index pattern I posted can help a little bit. We will think about how to support this feature better later but I'm afraid there won't be improvement for this soon.

[2020-04-20 21:23] happycujo commented on #73
Hi @dai-chen. Thanks for taking the time to make this verification! The result is unfortunate, but i am glad you have taken the time to verify.

As this is a roadmap feature request , do you wish i close this it, or keep it open it for visibility?

[2020-04-20 21:24] dai-chen commented on #73
@happycujo thanks for your understanding! I will take care of this issue.

[2020-05-07 20:57] #74 closed, assigned to nobody

[2020-05-10 11:20] fadjar340 opened #78 "Build from source to make compatible for Elasticsearch 7.6.2"
Hi there,

Is there any documentation that explain how to build from source to make OD 1.6.0 compatible with Elasticsearch 7.6.2?

Regards,
Fadjar Tandabawana

[2020-05-10 11:34] anirudha commented on #78
https://github.com/opendistro-for-elasticsearch/sql-jdbc/tree/opendistro-1.6

You can build from this branch

[2020-05-10 11:35] anirudha commented on #78
Please reopen this issue if you have questions

[2020-05-10 11:35] #78 closed, assigned to nobody

[2020-05-10 12:49] fadjar340 commented on #78
After build from source, I have the opendistro_sql-1.7.0.0-SNAPSHOT.jar, then I use it in dbeaver.
The problem is the same, bad request, since I saw in [https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/](https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/), it should install the opendistro-sql-xxx.zip, when I following the URL, the result said that the

[2020-05-10 12:53] fadjar340 opened #79 "Re-Open Build from source to make compatible for Elasticsearch 7.6.2"
Please reopen this issue if you have questions

_Originally posted by @anirudha in https://github.com/opendistro-for-elasticsearch/sql-jdbc/issues/78#issuecomment-626314190_

After build from source, I have the opendistro_sql-1.7.0.0-SNAPSHOT.jar, then I use it in dbeaver.
The problem is the same, bad request, since I saw in https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/

[2020-05-11 07:06] abbashus commented on #79
~~Change `elasticsearch.version` to `7.6.2` in `plugin-descriptor.properties` file. This file is being used by Elasticsearch to load the plugin, and complains if there is a mismatch between versions.~~

Please ignore, I thought it was meant for SQL plugin.

[2020-05-11 07:09] abbashus commented on #79
~~**Option two**: Change `es_version` in `build.gradle` under project root and do a rebuild. This will generate a new jar build with ES 7.6.2 and also generate appropriate `plugin-descriptor.properties` file.~~

Please ignore, I thought it was meant for SQL plugin.

[2020-05-11 15:38] penghuo commented on #78
You should build the plugin https://github.com/opendistro-for-elasticsearch/sql to make it compatible with Elasticsearch 7.6.2. [Here is the code.](https://github.com/opendistro-for-elasticsearch/sql/blob/master/build.gradle#L18)
Because JDBC just use RESTful enpoint, there should be no change regarding to JDBC.

[2020-05-11 15:40] penghuo commented on #79
You should build the plugin https://github.com/opendistro-for-elasticsearch/sql to make it compatible with Elasticsearch 7.6.2. [Here is the code.](https://github.com/opendistro-for-elasticsearch/sql/blob/master/build.gradle#L18)
Because JDBC just use RESTful enpoint, there should be no change regarding to JDBC.

[2020-05-11 16:07] fadjar340 commented on #79
Oke,

I'll try to build it...

Regards,
Fadjar Tandabawana

[2020-05-12 00:02] #79 closed, assigned to nobody

[2020-05-12 14:49] #63 closed, assigned to nobody

[2020-05-12 14:50] anirudha commented on #60
please confirm if this works and re-open as necessary.

[2020-05-12 14:50] #60 closed, assigned to nobody

[2020-05-12 14:51] #44 closed, assigned to abbashus

[2020-06-12 22:55] gaiksaya opened #83 "New Maven Endpoint for ODFE"
Hi,
The maven endpoint for ODFE has changed from https://oss.sonatype.org/service/local/staging/deploy/maven2 to https://aws.oss.sonatype.org/service/local/staging/deploy/maven2

The login credentials are the same as before. However, the user token has been updated. Infra team will updated the user token credentials (used in maven workflows). However, the URLs in the codebase needs to be updated b

[2020-06-16 00:40] joshuali925 opened #84 "OD 1.8.1.0 release"
Prepare for OD 1.8.1.0 release

[2020-06-23 21:11] joshuali925 commented on #84
Skipping 1.8.1, release for 1.9 instead.

[2020-06-23 21:11] #84 closed, assigned to nobody

[2020-06-23 21:33] joshuali925 opened #86 "OD 1.9.0.0 release"
Prepare for OD 1.9.0.0 release

[2020-06-24 18:21] weicongs-amazon commented on #83
Hi, team, pls make sure this change is done in the 1.9.0 release, otherwise, the maven publishing will fail

[2020-06-24 18:43] joshuali925 commented on #83
Thanks, updated maven endpoint in b0446c658156363d672bd3af2dbfe7212d9934cd. Closing issue.

[2020-06-24 18:43] #83 closed, assigned to joshuali925

[2020-06-24 22:42] #86 closed, assigned to nobody

[2020-06-26 06:49] guilt opened #88 "Can we have a flag to make this work on generic ES?"
There are some older instances which we are running, and we got errors using this driver:

[code]

Pretty sure we selected a different index, but it tried to send a HTTP request to `_opendistro`. Can we have a way to override it?

[2020-06-26 07:02] chloe-zh commented on #88
Hi @guilt thanks for reporting this issue! Could you provide the version of ODFE (or Elasticsearch with ODFE SQL plugin) you are running, and also a sample query?

[2020-06-26 08:34] guilt commented on #88
I tried using this with DBVisualizer (like DBBeaver/SquirrelSQL etc) on a bunch of ES instances, found this in the exception log. I'm using the `1.8.0.0` JDBC driver

[2020-06-26 13:13] abbashus commented on #88
@guilt ODFE JDBC driver is compatible only with ODFE SQL plugin. The error indicates that the plugin is not installed with your Elasticsearch distribution. The driver only understands the protocol provided by SQL plugin.

Verify SQL plugin is installed via:
[code]

[2020-06-26 14:29] dai-chen commented on #88
FYI, we're working on a new query engine which can run outside Elasticsearch: https://github.com/opendistro-for-elasticsearch/sql/pull/491. We may consider use it in JDBC driver if we hear many such requests. Thanks!

[2020-07-03 08:05] davide-malagoli opened #90 "Is there a way to use optional parameters in query?"
Hi,

I'm trying to use the JDBC driver to connect a BI Solution we work with (TIBCO JasperSoft).
Some reports have optional parameters, and when not set these parameters are set to null.

A proper way to handle this scenario in RDBMS is creating a query like this:

SELECT <fields>
FROM <table>
WHERE ((<optional_param IS NULL) OR (<field> = <optional_param>))

So, if the parameter is not set, it wi

[2020-07-06 20:00] dai-chen commented on #90
Hi @davide-malagoli , thanks for reporting the issue! I'm not familiar with JasperSoft. I wonder is the `WHERE NULL IS NULL` generated from JasperSoft? Do you have any control on this?

[2020-07-25 11:13] johnkingan commented on #65
I have the same issue, using Vaadin (SQLContainer, tries to disable autoCommit, which isn't supported by this driver). Is it expected to be resolved soon?

[2020-07-25 11:15] johnkingan commented on #65
Can you explain what you did exactly to overcome this issue? I need a pooled connection to pass to a Vaadin SQLContainer.

[2020-08-18 17:48] dai-chen commented on #71
Duplicated. Please see updates on issue #401.

[2020-08-18 17:48] #71 closed, assigned to nobody

[2020-11-04 21:17] ravipalaparthi opened #92 "Unable to create a Domain in Jasper Report Server 7.5.0"
Hi,

I am trying to use the OpenDistro Elastic Search, JDBC driver to connect with the Jasper Report Server 7.5.0.

I was able to create the Datasource in the Jasper Report Server 7.5.0 but I was not able to create the Domain in the JRS 7.5.0.

I have attached the screenshot for reference.

**Following are the details:**

1. **Elastic Search:** odfe-1.11.0.zip
2. **JDBC driver:** opendistro-sql-jd

[2021-01-06 22:03] #2 closed, assigned to nobody

[2021-02-23 19:04] dirkdaems opened #93 "Backticks not supported for nested fields"
We tried to use the JDBC driver with Tableau. According to the docs (https://github.com/opendistro-for-elasticsearch/sql-jdbc/blob/master/docs/tableau.md) it is recommended to use the MySQL dialect.
When doing so, backticks are used as identifier quote characters. It looks like they are handled correct for tables(indices) and fields, but not for nested fields.
For example, this works:
``SELECT `t`

[2021-02-25 16:21] milantar opened #94 "Timezone issue when retrieving date from Elasticsearch (UTC considered as local)"
Hello,
It seems that a datefield retrieved by opendistro jdbc (opendistro-sql-jdbc-1.2.0.0.jar) from Elasticsearch (7.2.0)  is retrieved as local (displayed in JasperServer).
Elasticsearch stores the date as UTC:
`{
	"_index" : "record-deletion-logs",
	"_type" : "_doc",
	"_id" : "jhTO1HcBu5s5PDfU9iUG",
	"_score" : 8.962324,
	"_source" : {
	  ...
	  "operationdate" : "2021-01-18T11:17:41.529Z",
}`